html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.background{
    background-image: url("hero.jpg");
    background-size: cover;
    height:100vh;
    background:no-repeat;
}
.texr-center{
    text-align:center;
}
.align-center{
    padding-top: 275px;
}
.text-red{
    color: blueviolet;
}
.text-white{
    color: darkgray;
}
.display-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size-adjust: 50px;
}
.display-2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size-adjust: 25px;
}
.btn{
    border:none;
    font-size-adjust: 20px;
    padding: 7px 26px;
}
.btn-red{
    color: white;
    background-color: red;
}
.btn-dark{
    background-color: black;
    color: white;
}
button#exploreBtn:hower{
    background-color: black;
}
button#contactBtn:hower{
    background-color: red;
}
.flex-container{
    width: 45px;
}
.main{
    display: flex;
    background-color: rosybrown;
}
.ig{
    text-align: right;
    length:100px;
    width:55px;
}
.hh{
    text-align: center;

}
.next{
    background-color: rosybrown;
    text-align: center;
}
nav.navbar > a{
    color: white;
    transition:ease-in-out 0.5s;
    padding:25px;
}
.navbar{
    background-color: #3a3a3a;
    display: flex;
    top: 0%;
}
.ig3{
    padding:30px;
    width: 30;
    margin:50px;
}
.ig4{
    padding:30px;
    width: 30;
    margin:50px;
}
.co{
    text-align: center;
}
.Aus{
    display: flex;
}
.bc{
    background-color: burlywood;
}
.na{
    margin:250px;
}
.su{
    background-color: crimson;
    border: none;
    font-size-adjust: 20px;
    padding:10px 25px;
}